# Terraform files
*.tfstate
*.tfstate.*
*.tfvars
!terraform.tfvars
.terraform
.terraform.lock.hcl
crash.log
crash.*.log

# Private Keys & Secrets
*.pem
*.key
*.pub
private-key*
monitoring-key*

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# OS
Thumbs.db
.env
.env.local
